* {
	box-sizing: border-box;
    transition: all ease-in-out 250ms;
    text-align: center;
}

body {
    background-color:azure;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    position: fixed;
    top: 10vh;
    width: 100%;
}

h4 {
    position: fixed; 
    bottom: 1rem; 
    width: 100%;
}

img {
    position: relative;
    margin: 50vh 0 0 0;
    /* display: block; */
}